<h1> POKEMON BATTLE SIMULATOR </h1>

<%= button_to "All Pokemon Ready For Battle", pokemons_path, method: :get %> <br>
<%= button_to "All Trainers", trainers_path, method: :get %> <br>
<%= button_to "New Battle", new_battle_path, method: :get %>