<%= render partial: "arena" %>

<h1> Turn x+1 </h1> <!-- (turn x = 1), increase turn by +2 next time we are in the counterattack -->



<% if @attacker.hp == 0 || @defendant.hp == 0 %>
<%= render partial: "gameover" %>
<% else %>
<%= link_to "Next Attack", attack_path(@battle) %>
<% end %>