@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
.image {
    max-width: 90%;
    max-height: fit-content;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: #3D7DCA !important;
}

.td {
    width: 1.5em;
    height: 1.5em;
    background:  #ffcb05;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }

.center {
    text-align: center; 
    justify-content: center; 
    margin-left:auto; 
    margin-right:auto; 
    width:800px;
    border-spacing: 50px 0;
}


.vs{
    text-align: center;
}

.title{
    text-align: center;
}

.home_table{
    padding: 50px 400px;
}

.pokelogo{
    padding: 50px 200px;
    justify-content: center;
}

.pokebattleimg{
    padding: 50px 300px;
    justify-content: center;
    display: block; 
    width: 10%;
}

.attack_button{
    text-align: center;
}

.attack{
    text-align: center;
    padding: 10px 300px;
}

.gameover{
    text-align: center;
}

.new_battle{
    padding: 50px 250px;
}

.arena_battle_image{
    display: flex;
  justify-content: center;
}

.homebutton{
    background-color: #3D7DCA;
    color: #ffcb05;
    border-radius: 4px;
    outline:none;
}

.link {
    color: #3D7DCA !important;
    font-family: Arial, Helvetica, sans-serif  !important;
    font-size: 140%;
}

.titles {
    color: #3D7DCA !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 350%;
    letter-spacing: 2px;
}